<!DOCTYPE html>
<html lang="en">
<head>
    <title>SAAS PASS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../src/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

  <% include nav.ejs %>
  <main role="main">
      <div class="container">
          <div class="text-center mg-25 mb-5">
              <h1 class="finale">Finally, something that works!</h1>
              <p class="finish">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. </p>
              <div class="row mg-25 my-2">
                  <div class="col-8 pr-0">
                      <input type="text" class="form-control e-mail" placeholder="Enter your e-mail ID">
                  </div>
                  <div class="col-4 pl-0 pb-0">
                      <button class="btn btn-primary start">Start for Free</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="bg-london">
        <div class="container-fluid">
                <div class="dashhil">
                    <img src="../src/img/dashill.svg">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="jd-card active">
                            <h3>Fusce vehicula dolor arcu</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jd-card">
                            <h3>Fusce vehicula dolor arcu</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="jd-card">
                            <h3>Fusce vehicula dolor arcu</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. </p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="container mt-50">
          <div class="row">
              <div class="col-md-6">
                  <div class="mg-60">
                     <div class="card-info">
                      
                      <h3>
                          4,219
                      </h3>
                      <span>Total Orders</span>
                      <div class="row mt-4">
                          <div class="col-4">
                              <span>TODAY</span>
                                <h6>541</h6>
                          </div>
                          <div class="col-4">
                              <span>PENDING</span>
                              <h6>3,212</h6>
                          </div>
                          <div class="col-3">
                              <span>SHIPPED</span>
                              <h6>621</h6>
                          </div>

                      </div>
                     </div>
                     <div class="cash-group">
                        <div class="card-sheesh"></div>
                        <div class="card-circle"></div>
                     </div>
                  </div>
                

              </div>
              <div class="col-md-6">
                  <div class="sec-til">
                      <h3>Secondary Title</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                      <ul class="key-dits">
                          <li>Lorem Ipsium dolor</li>
                          <li>consectetur adipiscing</li>
                          <li>pretium pretium</li>
                          <li>eget imperdiet neque</li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
      <div class="container mt-5">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="sec-til">
                        <h3>Secondary Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                        <ul class="key-dits">
                            <li>Lorem Ipsium dolor</li>
                            <li>consectetur adipiscing</li>
                            <li>pretium pretium</li>
                            <li>eget imperdiet neque</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="mg-60">
                           <div class="card-info">
                            
                            <h3>
                                4,219
                            </h3>
                            <span>Total Orders</span>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <span>TODAY</span>
                                      <h6>541</h6>
                                </div>
                                <div class="col-4">
                                    <span>PENDING</span>
                                    <h6>3,212</h6>
                                </div>
                                <div class="col-3">
                                    <span>SHIPPED</span>
                                    <h6>621</h6>
                                </div>
      
                            </div>
                           </div>
                           <div class="cash-groupr">
                              <div class="card-sheeshr"></div>
                              <div class="card-circle"></div>
                           </div>
                        </div>
                      
      
                    </div>
  
            </div>
      </div>
      <div class="bg-gagi">
        <div class="container">
                <div class="finish-line">

                    <h3>Final Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                </div>
                <div class="row">
                    <div class="col-sm-4 adaptive">
                        <img src="../src/img/cis1.png">
                        <h6>Be at peace</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                    </div>
                    <div class="col-sm-4 adaptive">
                        <img src="../src/img/cis2.png">
                        <h6>Adapt, Evovle</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                    </div>
                    <div class="col-sm-4 adaptive">
                        <img src="../src/img/cis3.png">
                        <h6>Be at peace</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
                    </div>
                </div>
            </div>

      </div>
      <div class="bg-raceblue">
          <div class="container">
              <div class="row">
                  <div class="col-md-7">
                      <div class="hace">
                            <h3>Get started for free</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                      </div>
                   
                  </div>
                  <div class="col-md-5">
                        <div class="row">
                                <div class="col-8 pr-0">
                                    <input type="text" class="form-control e-vil" placeholder="Enter your e-mail ID">
                                </div>
                                <div class="col-4 pl-0 pb-0">
                                    <button class="btn btn-primary start-lead">Start for Free</button>
                                  </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
   

  </main>
  <footer class="py-3">
        <section id="footer">
            <div class="container bluelabel">
              <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-2">
                  <h5>PRODUCT</h5>
                  <ul class="list-unstyled quick-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Use Case</a></li>
                    <li><a href="#">Pricing</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                  <h5>USE CASE</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a href="#">Features</a></li>
                      <li><a href="#">Use Case</a></li>
                      <li><a href="#">Pricing</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                  <h5>SUPPORT</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a href="#">Features</a></li>
                      <li><a href="#">Use Case</a></li>
                      <li><a href="#">Pricing</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h5>COMPANY</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Use Case</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                  <img src="../src/img/logo.svg">
                </div>
              </div>
            </div>
          </section>
    </footer>
</body>
</html>